@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .hero-general {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

  }

  .hero-general__img {
    position: relative;
    margin-left: 139px;
    top: 20px;
    width: 96%;
  }

  .hero-general__bg {
    top: 0;
    right: 0;
    z-index: -1;
    position: absolute;
  }
}

@media (max-width: 1024px) {

  .hero-general__img {
    position: relative;
    margin-left: 54px;
    top: 20px;
    width: 100%;
  }

}

@media (max-width: 992px) {
  .hero-general__img {
    position: relative;
    margin-left: 29px;
    top: 20px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero-general__img {
    margin-left: 39px;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .hero-general__title {
    font-size: 31px;
    width: 90%;
  }
  .hero-general__desc {
    font-size: 18px;
    width: 90%;
  }

  .hero-general__img {
    margin-left: 25px;
    width: 100%;
  }

  .hero-general__btn {
    width: 184px;
    height: 47px;
  }
  .hero-general__bg {
    right: 0;
  }
  .hero-general__item {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .hero-general__desc__desc2 {
    padding-left: 0;
  }
  .hero-general__bg {
    display: none;
  }
  .hero {
    padding: 78px 10px 0 10px;
  }
  .hero-general__cer {
    width: 600px;
    z-index: -1;
    right: 9px;
    top: 10%;
    position: absolute;
    height: 600px;
    border-radius: 50%;
    background: #0066FF;
  }
  .hero-general__img {
    margin-left: -14px;
    width: 111%;
    margin-top: -317px;
  }
  .hero-general__desc {
    font-size: 18px;
    width: 90%;
    color: white;
    margin-left: 30px;
  }
  .hero-general__item {
    width: 90%;
    margin-left: 30px;
    color: white;
  }

  .hero-general__btn__gen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 227px;
  }
  .hero-general__btn {
    width: 184px;
    border: 1px solid white;
    height: 47px;
  }

  .hero-general__title {
    font-size: 31px;
    width: 100%;
  }

}

@media (max-width: 426px) {
  .hero-general__img {
    margin-left: -43px;
    width: 120%;
    margin-top: -293px;
  }
  .hero-general__item {
    width: 90%;
    color: white;
  }

  .hero-general__title {
    font-size: 28px;
    width: 90%;
  }
  .hero-general__btn {
    width: 235px;
    border: 1px solid white;
    height: 51px;
  }

  .slick-next {
    right: 6px;
  }

}

@media (max-width: 415px) {
  .hero-general__title {
    font-size: 28px;
    width: 100%;
  }
}

@media (max-width: 380px) {
  .hero-general__btn {
    width: 184px;
    border: 1px solid white;
    height: 47px;
  }
  .hero-general__title {
    font-size: 27px;
    width: 100%;
  }
}

@media (max-width: 376px) {
  .hero-general__btn {
    width: 184px;
    border: 1px solid white;
    height: 47px;
  }
  .hero-general__title {
    font-size: 28px;
    width: 105%;
  }

  .hero-general__img {
    margin-left: -36px;
    width: 120%;
    margin-top: -293px;
  }

}

@media (max-width: 320px) {
  .hero-general__desc {
    font-size: 14px;
    width: 90%;
    color: white;
  }

  .hero-general__title {
    font-size: 21px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .hero-general__item {
    width: 90%;
    font-size: 17px;
    color: white;
  }
  .hero {
    padding-top: 92px;
  }
  .hero-general__btn {
    width: 184px;
    border: 1px solid white;
    height: 47px;
  }

}