.header {
  padding: 15px 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.57);
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(5px);

  &-general {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      color: #080669;

      &__logo {
        color: #0166FF;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        margin-left: -10px;
      }
    }

    &__nav {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      padding: 0 20px;
    }

    &__square {
      width: 276px;
      height: 46px;
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      display: flex;
      align-items: center;

      i {
        font-size: 22px;
        padding: 0 7px;
        color: white;
      }

      a {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
        padding-left: 10px;
      }
    }
  }
}