@media (max-width: 1440px) {
  .container {
    width: 90%;
    border: 1px solid black;
  }

}

@media (max-width: 768px) {
  .header-general__nav {
    display: none;
  }

  .header-general__square {
    display: none;
  }
}